.top {
    background: $bg-first;
    .top__header {
      height: 48px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      position: relative;
      .top__header__title {
        color: $color;
        font-size: 14px;
        font-weight: 400;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        a {
          font-weight: 600;
          text-decoration: underline;
        }
      }
      .top__header__select {
        outline: none;
        border: none;
        background: $bg-first;
        color: $color;
      }
    }
  }

  #header {
    border-bottom: 0.5px solid #000000;
    .navbar {
      height: 90px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .navbar__logo {
        h1 {
          font-family: $font-first;
          font-size: 24px;
          font-weight: 700;
        }
      }
      .navbar__collection {
        display: flex;
        gap: 48px;
      }
      .navbar__search {
        height: 38px;
        display: flex;
        align-items: center;
        gap: 34px;
        background: #f5f5f5;
        padding: 7px 14px;
        input {
          border: none;
          outline: none;
          width: 100%;
          height: 100%;
          padding: 10px;
          background: #f5f5f5;
        }
      }
      .navbar__menu{
        display: none;
        a{
          font-size: 22px;
        }

      }
    }
  }



  @media (max-width: 1120px) {
    .top {
      .top__header {
        height: 42px;
        .top__header__title {
          font-size: 12px;
        }
      }
    }
  }

  @media (max-width: 970px) {
    .top {
      display: none;
    }
  }

  @media (max-width: 850px) {
    #header {
      .navbar {
        height: 90px;
        .navbar__logo {
          h1 {
            font-size: 20px;
          }
        }
        .navbar__collection {
          gap: 30px;
        }
        .navbar__search {
          gap: 30px;
          input {
            padding: 6px;
          }
        }
      }
    }
  }

  @media (max-width: 770px) {
    #header {
      .navbar {
        .navbar__search {
          display: none;
          input {
            display: none;
          }
        }
      }
    }
  }

  @media (max-width: 690px){
    #header{
      .navbar{
        .navbar__collection{
          position: fixed;
          top: 0;
          left: -50%;
          width: 50%;
          height: 100vh;
          background: #eee;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          transition: .8s;
          z-index: 101;
          .navbar__item{
            display: block;
            padding: 4px 10px;
            border: 1px solid #000000;
            border-radius: 12px;
          }
        }
          .navbar__menu{
            display: block;
          }
          .show{
            left: 0;
          }
      }
    }
  }